* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gray-300: #e2e2e2;
  --gray-900: #121214;
  --red-pomodoro: #9e3f3f;
}

body {
  background: var(--gray-900);
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
