.spotifyBtn {
  height: 3.5rem;
  border-radius: 3rem;
  background: #1db954;
  border: 0;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;

  transition: all 0.2s;

  svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &:hover {
    background: #1ba14a;
  }
}
